fastapi
uvicorn
python-dotenv
langchain
langchain-community
langchain-huggingface
qdrant-client
sentence-transformers
torch
transformers
accelerate
httpx
PyJWT
google-generativeai
tqdm
bert-score
pandas
unstructured
markdown
langchain_google_genai
rag